numpy==1.26.4
opencv-python==4.8.1.78
mediapipe==0.10.15

absl-py
attrs
flatbuffers
protobuf==4.25.8
pillow
packaging
python-dateutil
pyparsing
six
contourpy
cycler
fonttools
kiwisolver
scipy
matplotlib

sounddevice==0.5.3
simpleaudio==1.0.4

tflite-runtime==2.14.0
